<table class="table">
  <thead>
  <tr>
    <th>Email</th>
    <th>Tags</th>
  </tr>
  </thead>
  <tbody>
  <%- @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.tags.join(', ') %></td>
    </tr>
  <%- end %>
  </tbody>
</table>
