<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Simple Examples (using on-model fields only)</h2>
    </div>
  </div>
  <hr>
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6">
      <h3><kbd>User.all</kbd></h3>
      <p>The most basic, naïve example possible.</p>
      <p><a class="btn btn-secondary" href="/simple" role="button">Run example »</a></p>
    </div>
    <div class="col-md-6">
      <h3><kbd>User.all.find_each</kbd></h3>
      <p>A basic example that just uses <kbd>find_each</kbd>. This is intended to demonstrate minimal change from the naked <kbd>User.all</kbd> as a sort of counter-example to certain expectations.</p>
      <p><a class="btn btn-secondary" href="/find_each" role="button">Run example »</a></p>
    </div>
  </div>
</div>
